* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Yusei Magic", sans-serif !important;
}
/* font-family: "Lobster", cursive; */
#__next {
  background-color: white !important;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.page-header {
  width: 100% !important;
  font-weight: 900 !important;
  letter-spacing: 5px !important;
  font-size: 3.5rem !important;
}
.login-bttn {
  color: white;
  text-decoration: none;
}

.noteLink {
  font-weight: 600;
}

.noteLink:hover {
  color: blue;
  text-decoration: underline;
}

.siteContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 120px;
  padding-bottom: 100px;
  height: auto;
  background-color: white;
}

.shadow {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.shadowSharp {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.MuiInputBase-root,
.MuiFilledInput-root,
.MuiFilledInput-underline,
.MuiInputBase-formControl {
  background-color: transparent !important;
}

.buttonEffect:hover {
  background-color: lightskyblue;
  cursor: pointer;
}
