* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Yusei Magic", sans-serif !important;
}
/* font-family: "Lobster", cursive; */
#__next {
  background-color: white !important;
}

.tilt-icon:hover {
  transform: rotate(8deg);
}

*:focus {
  outline: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: darkslategrey;
}

a:hover {
  color: darkgrey;
}

.plain-text {
  padding-left: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  color: darkslategrey;
}

.page-header {
  margin-bottom: 50px !important;
  font-family: "Chango", cursive !important;
  color: #54494b !important;
  width: 100% !important;
  font-weight: 900 !important;
  letter-spacing: -3px !important;
  font-size: 3.5rem !important;
}

.page-sub-header {
  font-family: "Chango", cursive !important;
  width: 100% !important;
  border-bottom: 8px groove #b33951 !important;
  letter-spacing: -3px !important;
  font-size: 2.5rem !important;
  opacity: 0.5 !important;
}

/**
**/

.login-bttn {
  color: white;
  text-decoration: none;
}

.noteLink {
  font-weight: 600;
}

.noteLink:hover {
  color: blue;
  text-decoration: underline;
}

.siteContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 120px;
  padding-bottom: 100px;
  height: auto;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.shadow {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.shadowSharp {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.MuiInputBase-root,
.MuiFilledInput-root,
.MuiFilledInput-underline,
.MuiInputBase-formControl {
  background-color: transparent !important;
}

.buttonEffect:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}
